.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

main {
    flex: 1;
}

article.content {
    min-height: calc(100vh - 80px);
}

.main-container,
.main-full-container {
    min-height: 100vh;
}

.main-container {
    margin-left: 20vw !important;
}

.main-full-container {
    margin-left: 64px !important;
}

.top-row {
    display: flex;
    column-gap: 14px;
    min-height: 48px;
    padding: 12px 24px 0 24px;
}

.top-row .page-title {
    display: flex;
    align-items: center;
}

.top-row .search-section {
    display: flex;
    align-items: center;
    align-content: stretch;
}


@media (max-width: 640.98px) {
    .top-row {
        flex-direction: column;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}



@media (min-width: 641px) {
    .top-row {
        flex-direction: row;
    }

        .top-row .page-title {
            flex: 1 0 auto;
        }

        .top-row .search-section {
            flex: 0 1 30%;
        }

        .top-row .add-events {
            flex: 0 1 10%;
        }

        .top-row .profile-widget-section {
            flex: 0 1 auto;
        }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {

}

@media screen and (min-width: 768px) and (max-width: 1439px) {

}

@media screen and (max-width: 767px) {

}

