.list-container {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    min-height: 240px;
    overflow: auto;
}

.list-container:not(.no-events) {
    justify-content: flex-start;
}

.list-container.no-events {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.no-event-info-text,
.summary-info-text {
    color: var(--primary-color);
}

/*X-Small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .list-container {
        flex-direction: column;
        row-gap: 14px;
        min-height: 120px;
    }

    .list-container:not(.no-events) {

    }

    .list-container.no-events {

    }

    .no-event-info-text,
    .summary-info-text {

    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
