.dashboard-container {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    height: 100%;
}

.dashboard-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 14px;
    height: 100%;
}

.dashboard-row > * {
    flex: 0 1 auto;
}

.dashboard-row .scheduler,
.dashboard-row .events-list {
    height: calc(100vh - 125px);
}

.dashboard-row .scheduler {
    flex: 1 1 70%;
}

.dashboard-row .events-list {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.events-list .ongoing-event-list,
.events-list .upcoming-event-list {
    width: 100%;
}

.card-title {
    font-family: var(--body-text-font-family);
    font-size: 18px;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
}

@media screen and (max-width: 767px) {
}
