@page "/"

<PageTitle>Home</PageTitle>

<p>Redirect to Dashboard</p>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        NavigationManager.NavigateTo("/dashboard");
    }
}
