@inherits LayoutComponentBase

<RadzenComponents />
<div class="page">
    <Sidebar AppName="@appName" AppLogo="@appLogo" />
    <main id="main-body" class="main-full-container">
        <div class="top-row">
            <div class="page-title">
                <LayoutTitleOutlet />
            </div>            
            <div class="search-section">
                <SearchEvents />
            </div>
            <div class="add-events">
                <RadzenButton Disabled="true" Text="New Event" Icon="add" ButtonStyle="ButtonStyle.Primary" class="btn-add-events-text" style="width: 100%; height: 100%; box-sizing: border-box;" />
                <RadzenButton Disabled="true" Icon="add" ButtonStyle="ButtonStyle.Primary" class="btn-add-events-icon" style="width: 100%; height: 100%; box-sizing: border-box;" />
            </div>
            <div class="profile-widget-section">
                <ProfileWidget />
            </div>
        </div>

        <article class="content pb-4">
            @Body
        </article>
    </main>
</div>

@code {
    private const string appName = "Events";
    private const string appLogo = "/images/logo-yellow.svg";
}
